/* ! COLORS */

:root {
  --background-color: #ebebeb;
  --text-color: whitesmoke;
  --main-color: #573f5d;
  --f5f5f5: #f5f5f5;
  --ccc: #ccc;
  --for-date: #999;
  --fff: #fff;
  --f1f1f1: #f1f1f1;
  --f2f2f2: #f2f2f2;
  --main-color-shade2-dark: #3d2b40;
  --main-color-shade3-extra-dark: #2b1d2b;
  --f8f8f8f: #f8f8f8;
  --dark-green: #45a049;
  --light-green: #4caf50;
  --red-warning: #f44336;
  --yellow: yellow;
  --ffffff: #ffffff;
  --C555: #555;
  --C3333333: #333333;
  --lightRed: #f44336;
  --darkRed: #d32f2f;
  --VerylightRed: #ff000036;
}

/*!  MEDIA QUERIES  */
@media screen and (max-width: 768px) {
  .login-container,
  .signup-container {
    width: 90%;
    left: 50%;
  }
  .website-name {
    font-size: 24px;
  }

  .login-inner-top,
  .signup-inner-top {
    margin: 20px 0;
  }

  .login-bottom,
  .signup-bottom {
    margin: 10px 0;
    margin-bottom: 15px;
  }

  .links > a::after {
    content: unset;
    position: unset;
    width: 0%;
    height: 0;
    background-color: unset;
    bottom: unset;
    left: unset;
    transition: unset;
  }
}
